*{
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    padding: 10px;
    margin: 10px;
    background-color: #ca855d;}

nav a{
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    float: left;
}

nav{
    background-color: chocolate;
    overflow: hidden;
}

nav a:hover{
    color: red;
}

video{
    padding: 30px;
    margin: 10px;


}
header{
    color:burlywood;
    background-color: saddlebrown;
    padding: 20px;
}

h1.main{
    text-align: center;
    text-shadow: royalblue;
    
}

fieldset{
    border: chocolate;
    border-radius: 5px;
    padding: 10px;
}

main{
padding: 15px;
background-color: cornsilk;
}

fieldset.field{
    background-color:brown;
    padding: 10px;
}

h1.secound-heading{
    text-align: center;
    color: tomato;
    padding: 10px;
   
}

p.text{
    padding: 10px;
    color: white;
    
}

section.youtude{
    margin: 10px;
    padding: 10px;
    border: tomato;
    border-radius: 10px;
    background:brown;
}

h2.you{
    color:tomato;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

section.onlinematerial{
    margin: 10px;
    padding: 10px;
    border: tomato;
    border-radius: 10px;
    background:brown;}

    h2.online{
        text-align: center;
        color:tomato;
        text-decoration: underline;
    }

    section img{
        padding: 20px;
    }

    section{
        margin: 10px;
        padding: 10px;
        border: tomato;
        border-radius: 10px;
        background-color: coral;} 

        h2.founder{
            text-align:center;
            color:brown;
            padding: 10px;
        }

        .ashishsir{
            display: block;
         margin-left: auto;
         margin-right: auto;
         width: 50%;
        }
        
        h3.nametwo{
            
            color:burlywood;
            text-align: center;
            
        }
        div.social{
            text-align: center;
            color: whitesmoke;

        }
            
        
        

        


        
        