*{
    box-sizing: border-box;
}


body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    padding: 10px;
    margin: 10px;
    background-color: #ca855d;}

nav a{
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    float: left;
}

nav{
    background-color: chocolate;
    overflow: hidden;
}

nav a:hover{
    color: red;
}

header{
    color:burlywood;
    background-color: saddlebrown;
    padding: 20px;
}

h1.main{
    text-align: center;
    text-shadow: royalblue;
}

form{
    padding: 15px;
    background-color: brown;
    color: wheat;
}

h1.head2{
    padding: 15px;
    color: tomato;
    text-decoration: underline saddlebrown;
}

input[type="text"],
input[type="email"],
input[type="checkbox"],
select,textarea{
    padding: 10px;
    
}

input[type="radio"]{
padding: 10px;
}

input[type="checkbox"]{
    padding: 10px;
}

input[type="submit"]{
    border: none;
    padding: 10px;
    background-color: chocolate;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: cyan;
}

input[type="reset"]{
    border: none;
    padding: 10px;
    background-color: chocolate;
    cursor: pointer;
}

input[type="reset"]:hover{
    background-color:cyan;
}